* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainGreyColor: #767B91;
  --mainLightColor: #E1E5EE;
  --brightOrangeColor: #F7C59F;
  --mainBlack: #202020;
  --mainWhite: #F5F5F5;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  padding-top: 66px;
  font-family: 'Exo', sans-serif;
  background: var(--mainWhite);
  line-height: 2.2;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}


h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: white;
}

.background{
  background-color: var(--mainGreyColor);
}

.spacing{
  padding: 2rem;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--brightOrangeColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--brightOrangeColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--brightOrangeColor);

}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */


/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--mainGreyColor);
  z-index: 2;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-header a{
text-decoration: none;
}

.welcome-nav{
padding: 0 3rem;
}
.welcome-nav p{
  margin: 0;
}

.welcome-nav h6{
  margin: 0;
  height: 20px;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-header h3 {
  font-size: 1.5rem;
  color: var(--mainBlack);

}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  border-bottom: solid var(--mainGreyColor);
}
.nav-links a:hover {
  color: var(--brightOrangeColor);
  border-bottom: solid  var(--brightOrangeColor) ;
}

.show-nav {
  height: auto;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .nav-header .btn{
    padding: 6px 6px;
    font-size: 15px;
  }
}
/* end of Navbar */

/* Wrapper */
.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
   min-height: calc(100vh - 66px);
}

/* End of Hero */


/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--brightOrangeColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */

/* Title */
.section-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--brightOrangeColor);
}
/* end of Title */


/* services */
.services {
  padding: 5rem 0;
}
.services {
  background: var(--mainGreyColor);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--brightOrangeColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */

/* product */
.product {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.product-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .product-link {
  transform: translate(-50%, -50%) scale(1);
}
.product-info {
  background: var(--brightOrangeColor);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of product  */

/* single product*/

.single-product {
  padding: 5rem 0 0 0;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
  justify-content:  center;
}

.image,
.info, footer{
  margin: 1rem 0;
}
.footer{
margin-top: 10%;
}

.info h3,
.info h1 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.info p{
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--brightOrangeColor);
}
.info h1 {
  text-align: center;
}
.info h3{
  font-weight: 300;
}
.image img {
  display: block;
  margin:auto;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.buttons .btn-primary{
  padding: 0.1rem 0.3rem;
}
.product-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.product-extras h1 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-product-info,
  .product-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-product-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single product*/

/* product group */

.productgroup{

    padding: 5rem 0;
}

.productgroup-center{

  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

/* end of product group */


/* slider */
.slider{

  margin: 0 auto;
}
.slider p{
  width: 5rem;
  height: 5px;
  margin: 1rem 0  ;
  text-align: left;

  background: var(--brightOrangeColor);
}

.slider h1 {
  text-align: left;
}
.slider h3{
  text-align: left;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.slider-bottom {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  border-bottom: solid var(--mainBlack) 1px

}
.slider-bottom h4{
  margin:auto;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);

}
.slider-bottom button{
  width: 6rem;
  height: 2rem;
  margin:auto;
  border-radius: 6px;

}
@media screen and (min-width: 992px) {

  .slider{
    width: 14vw;
      margin: 2rem 0;
  }

}

#slider-custom{
  margin: 0.5rem 1rem;
}
#slider-custom .noUi-connect{
  background: var(--brightOrangeColor);

}

/* end of slider */


/* sidebar category */

.categoriessidebar{
    padding: 1rem 0;
    margin: 0 auto;

}

.categoriessidebar p{
  width: 5rem;
  height: 5px;
  margin: 1rem 0  ;
  text-align: left;
  background: var(--brightOrangeColor);
}

.categoriessidebar li{
  list-style-type: none;
  border-bottom:  solid var(--mainBlack) 1px;

  letter-spacing: var(--mainSpacing);
}

.categoriessidebar li:hover {
  background: var(--mainGreyColor);
  transition: var(--mainTransition);

}



.categoriessidebar h3{
  text-align: left;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.categoriessidebar li button{

  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: left;
  font-size: 1rem;
  text-transform: capitalize;

  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  padding:1rem 1rem;
  transition: var(--mainTransition);
  text-transform: uppercase;

}

@media screen and (min-width: 992px) {
  .categoriessidebar{
    width: 12vw;
    margin: 2rem 0;
  }
}

/* end of sidebar category */

/* productconteiner */
.productconteiner-filter{
    padding: 2rem;
    border-right: solid var(--mainBlack) 1px ;
    margin-top: 1.5rem;
}
.productconteiner-products{

}

@media screen and (min-width: 992px) {

  .productconteiner{
    display: grid;
    grid-template-columns: 300px auto ;
  }
}
/* end of productconteiner */

/* Auth  */

.auth-conteiner{
  margin: 9rem auto;
  width: 80vw;
  justify-content: space-between;
  background:var(--mainLightColor);
  color: var(--mainBlack);
  padding: 1rem 1rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.auth-conteiner label{
  display: block;
}

.auth-conteiner input{

  font-size: 1.5rem;
  weight: 300;
  text-align: center;
  outline: 0;
  border: 0;
  background: transparent;
  border-bottom: 2px solid var(--brightOrangeColor);
}

.auth-conteiner button{
  display: block;
  margin: 2rem;
}

.auth-form{
  padding: 2rem;
  text-align: center;
}
.auth-seperator{
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--mainGreyColor);
}


@media screen and (min-width: 1524px) {

  .auth-conteiner{
    margin: 9rem auto;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
  }

  .auth-seperator{
    width: 5px;
    height: 24rem;
    margin: auto 0;
  }
  .auth-form{
    padding:auto ;
  }

}

/* end of Auth */

/* Profile */

.profile-conteiner{
  margin: 6rem auto;
  width: 80vw;
}
.center-conteiner{
  text-align: center;
}

.address-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 50px;
}

@media screen and (min-width: 1524px) {

}

/* end of profile */

/* Form */
.form-container{
  margin: 9rem auto;
  width: 70vw;
  justify-content: space-between;
  background:var(--mainLightColor);
  color: var(--mainBlack);
  padding: 1rem 1rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.form-container input{
  font-size: 1.5rem;
  weight: 300;
  text-align: center;
  outline: 0;
  border: 0;
  background: transparent;
  border-bottom: 2px solid var(--brightOrangeColor);
}

.form-container label{
  display: block;
}

.form-container button{
  display: block;
  margin: 2rem;
}

.form-container a{
  width: 30%;
  margin: 2rem auto;
  display: block;
}
.container{

  padding: 2rem;
  text-align: center;
}
.seperator{
  width: 5rem;
  height: 5px;
  margin: 2rem auto;
  background: var(--mainGreyColor);
}

/* end of Form */


/* list view */
.list-conteiner{
  width: 70vw;
  margin: 1rem auto;
}


.list-conteiner li{
  list-style-type: none;
  border-bottom:  solid var(--mainBlack) 1px;
  letter-spacing: var(--mainSpacing);
  margin:2rem;

}
.list-conteiner .list-view{
  display: flex;
  justify-content: space-around;
}
.list-conteiner h6{
  display: inline;
  margin: 2rem;
}
.list-conteiner img{
  margin-bottom: 1rem;
  width: 15%;
  display: inline;
  transition: var(--mainTransition);
}
.list-conteiner button{
  height: 2rem;
  margin:2rem;
}
.list-conteiner a{
  height: 3rem;
  margin:2rem;
}
/* end of list view */
